---
import CoderRocksLogo from '@component/VectorImages/CoderRocksLogo.astro'
import { Settings } from '@config/settings'
interface Props {
  title?: string
  tagline?: string
}
const { title = Settings.site.title, tagline = Settings.site.tagline } =
  Astro.props
---

<>
  <CoderRocksLogo size="100px" css="pb-2" />
  <h1 class="coder-rocks-head-title" data-test="header-title">
    {title}
  </h1>
  <p data-test="header-description" class="coder-rocks-tagline">
    {tagline}
  </p>
</>
