@mixin code-block {
  background: $code-block-bg;
  color: rgb(232, 232, 232);
  @apply p-5;
}

.content {
  /* pre {
        margin-bottom: 2em;
    } */

  pre code,
    // pre code&,
    >ul li pre code,
    >ol li pre code {
    @apply p-2;
  }

  p code,
  ul li *:not(pre) code,
  ul li > code,
  ol li *:not(pre) code,
  ol li > code {
    @apply bg-stone-300 text-black text-sm px-2 py-1 leading-none font-mono align-baseline rounded-md;
  }
}

.astro-code {
  @apply rounded-xl;
  code {
    @include code-block;
    width: 100%;
    padding: 0.8rem !important;
  }
  @media (max-width: 640px) {
    code {
      width: auto;
    }
  }
}
