@import "./code.scss";

.content {
  h1 {
    @apply text-2xl font-display font-semibold leading-tight break-words mb-4;

    @screen sm {
      // applying font size for lg breakpoint
      @apply text-3xl;
    }

    @screen md {
      // applying font size for lg breakpoint
      @apply text-4xl;
    }

    @screen lg {
      // applying font size for lg breakpoint
      @apply text-5xl;
    }
  }

  h2 {
    @apply text-4xl font-semibold leading-none mt-6 py-6 tracking-tight;
  }

  h3 {
    @apply text-xl font-bold leading-none py-4;
  }

  h4 {
    @apply font-bold uppercase tracking-widest leading-none py-3;
  }

  > p {
    @apply text-lg leading-normal mb-6;
    @apply text-stone-700;
  }

  /* > p:first-of-type {
        @apply text-2xl;
    } */

  > blockquote {
    @apply text-center font-bold italic px-4 mb-6 pt-6 text-3xl;
  }

  > blockquote > p {
    @apply text-xl font-light leading-normal;
  }

  > img {
    @apply my-12;
  }

  a {
    @apply font-bold underline text-sky-600;
    text-decoration: none;

    &:hover {
      @apply border-b-2 border-b-gray-800;
      @apply text-black;
    }
  }

  ul:not(.list-none) {
    @apply pl-0 list-disc ml-10 mb-8 text-lg;

    li {
      @apply mb-1;
    }
  }

  ol {
    @apply pl-0 list-decimal ml-10 mb-8 text-lg;

    li {
      @apply mb-1;
    }
  }

  pre,
  // pre&,
  >ul li pre,
  >ol li pre {
    @apply flex p-0 text-sm leading-loose mb-8;
  }

  pre[class*="language-"] {
    margin-bottom: 2em;
  }

  table {
    @apply w-full text-left border-2 border-collapse mb-8 text-sm;

    th {
      @apply font-bold p-4 text-xl border-t-4 border-b;
    }

    td {
      @apply p-4 border-b;
    }

    p {
      @apply leading-normal;
    }
  }
}

.content section > *:first-child {
  @apply mt-0 pt-0;
}

.personality-formal .content {
  h1 {
    @apply font-black normal-case;
  }

  > p {
    @apply leading-normal;
  }
}
