.blog-tags a {
  @apply font-bold underline text-sky-600;

  &:hover {
    @apply text-black;
  }
}

#searchBox {
  border: 2px solid black;
  border-radius: 5px;
}

.searchResultPage {
  padding: 15px 0;
}

.searchResultTitle {
  @apply text-sky-600;
}

.content {
  blockquote {
    .quote-credit {
      @apply text-sm p-4 text-right;
    }
  }
}

.coder-rocks-head {
  font-family: monospace !important;
  @apply sm:text-5xl md:text-5xl text-5xl my-2;
}

.coder-rocks-tagline {
  @apply font-thin;
}

.cr-figure {
  @apply text-center;

  > img {
    @apply m-auto;
    @media (max-width: 640px) {
      width: auto;
    }
  }

  figcaption {
    @apply py-4;
  }
}
