@import "./logo.css";
@import "./topnavbar.css";

.blog-tags {
  a {
    font-weight: bold;
    text-decoration: underline;
    @apply text-sky-600 dark:text-sky-400;

    &:hover {
      @apply text-black dark:text-slate-100;
    }
  }
}

#searchBox {
  @apply border-2 border-black rounded dark:border-slate-500 dark:bg-slate-800 dark:text-slate-100;
}

.search-result-page {
  padding: 15px 0;
}

.search-result-title {
  @apply text-sky-600;
}

.content {
  blockquote {
    .quote-credit {
      font-size: 0.875rem;
      padding: 1rem;
      text-align: right;
    }
  }
}

.cr-figure {
  text-align: center;

  > img {
    margin: auto;

    @media (max-width: 640px) {
      width: auto;
    }
  }

  figcaption {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
