:root {
  --font-display: "Poppins", "Roboto", "Arial", "Helvetica";
  --font-body: "Poppins", "Roboto", "Arial", "Helvetica";
  --leading-normal: 1.8;
  --logo-primary: #3b3838;
  --logo-secondary: #262626;
  --logo-accent: #404040;
}

.dark {
  --logo-primary: #e0e0e0;
  --logo-secondary: #a8a8a8;
  --logo-accent: #9ca3af;
}

@theme {
  --font-display: "Open Sans", "Roboto", "Arial", "Helvetica";
}
