:root {
  --font-display: "Poppins", "Roboto", "Arial", "Helvetica";
  --font-body: "Poppins", "Roboto", "Arial", "Helvetica";
  --leading-normal: 1.8;
}

@theme {
  --font-display: "Open Sans", "Roboto", "Arial", "Helvetica";
}