---
const { page } = Astro.props

const showSection = page.url.prev || page.url.next || false
---

{
  showSection && (
    <section class="flex justify-center space-x-8 pt-16 text-xl font-bold">
      {page.url.prev && (
        <a href={page.url.prev} class="mr-8" data-test="paginator-prev">
          <span>&larr;</span> Prev
        </a>
      )}

      {page.url.next && (
        <a href={page.url.next} data-test="paginator-next">
          Next<span>&rarr;</span>
        </a>
      )}
    </section>
  )
}
