---
import CoderRocks from '@component/Shared/CoderRocks/index.astro'

export interface Props {
  tagline: string
  showLogo?: boolean
  showHeading?: boolean
}
const { tagline, showLogo = true, showHeading = false } = Astro.props
---

<header
  class="mx-auto max-w-xl text-center content flex flex-col align-middle content-center items-center"
>
  {showLogo && <CoderRocks />}
  {
    showHeading && (
      <p data-test="header-description" class="text-2xl font-light">
        {tagline}
      </p>
    )
  }
</header>
