---
import CoderRocks from '@component/Shared/CoderRocks/index.astro'

export interface Props {
  tagline: string
  showLogo?: boolean
  showHeading?: boolean
}
const { tagline, showLogo = true, showHeading = false } = Astro.props
---

<header
  class="content mx-auto flex max-w-xl flex-col content-center items-center text-center align-middle"
>
  {showLogo && <CoderRocks />}
  {
    showHeading && (
      <p data-test="header-description" class="text-2xl font-light">
        {tagline}
      </p>
    )
  }
</header>
