---
import HomeIcon from '@component/VectorIcons/HomeIcon.astro'
import SubmitIcon from '@component/VectorIcons/SubmitIcon.astro'
import SearchIcon from '@component/VectorIcons/SearchIcon.astro'
import type { JSX } from 'astro/jsx-runtime'

export type Links = {
  name: string
  href: string
  icon: (props: JSX.HTMLAttributes) => JSX.Element
}[]

const links: Links = [
  {
    name: 'Home',
    href: '/',
    icon: HomeIcon,
  },
  {
    name: 'Submit',
    href: '/submit',
    icon: SubmitIcon,
  },
  {
    name: 'Search',
    href: '/search',
    icon: SearchIcon,
  },
]
---

<nav class="top-nav-bar bg-zinc-800">
  <div
    class="max-w-4xl mx-auto px-3 py-3 flex items-center justify-between h-14"
  >
    {
      links.map(item => {
        const { icon: Icon } = item
        return (
          <a
            href={item.href}
            class="text-slate-50 flex flex-row align-middle text-center"
          >
            <Icon class="w-5 h-5 lg:w-6 lg:h-6" />
            <span class="link-text">{item.name}</span>
          </a>
        )
      })
    }
  </div>
</nav>
