---
import BaseHead from '@component/Head/BaseHead.astro'
import Nav from '@component/Navigation/TopBar.astro'
import Footer from '@component/Footer/Footer.astro'

const title = 'How To Code'
const description = ''
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="font-body personality-casual bg-white leading-normal text-black dark:bg-slate-900 dark:text-slate-100"
    data-pagefind-ignore="all"
  >
    <Nav />

    <main class="py-12">
      <article class="mx-auto max-w-6xl px-3">
        <header class="content mx-auto max-w-3xl text-center">
          <h1 class="mb-4">404 page [ :( ]</h1>
          <p class="text-xl">Lets fart in space for sometime.</p>
          <div class="embed-responsive aspect-ratio-4/3">
            <iframe
              width="700"
              height="500"
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/cWuzJBboQyE?autoplay=1&mute=1&showinfo=0&controls=0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope;"
              allowfullscreen></iframe>
          </div>
        </header>
      </article>
    </main>
    <Footer />
  </body>
</html>
