---
import BaseHead from '@component/Head/BaseHead.astro'
import TopBarNav from '@component/Navigation/TopBar.astro'
import HomeHead from '@component/Head/HomeHead.astro'
import Card from '@component/Content/Card.astro'
import Footer from '@component/Footer/Footer.astro'
import { Settings } from '@config/site'
import { getCollection } from 'astro:content'

const { title, tagline, description } = Settings.site

const allPosts = await getCollection('posts')

const sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  )
  .slice(0, 3)
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="font-body personality-casual bg-white leading-normal text-black dark:bg-slate-900 dark:text-slate-100"
    data-pagefind-ignore="all"
  >
    <TopBarNav />

    <main class="py-12">
      <article class="mx-auto max-w-6xl px-3">
        <HomeHead tagline={tagline} />
        <section
          class="grid grid-cols-1 gap-6 py-8 md:grid-cols-2 lg:grid-cols-3"
          data-test="articles-section"
        >
          {
            sortedPosts.map(p => (
              <div class="col-span-1">
                <Card post={p} />
              </div>
            ))
          }
        </section>
      </article>
    </main>

    <section
      class="flex justify-center space-x-8 pt-8 text-center text-xl font-bold"
    >
      <a
        href="/posts"
        data-test="see-all-link"
        class="m-2 border-b-2 border-b-white hover:border-b-gray-800 dark:border-b-slate-900 dark:hover:border-b-slate-200"
      >
        View All &nbsp;&rarr;
      </a>
    </section>

    <Footer />
  </body>
</html>
