---
import Social from './Social.astro'
import { Settings } from '@config/settings'
---

<footer
  class="flex flex-col content-center py-4 text-center align-middle lg:py-6"
>
  <div class="w-full text-sm" data-test="footer-text">
    &copy; {Settings.site.title}&nbsp;-&nbsp;<script type="text/javascript">
      document.write(new Date().getFullYear())
    </script>
  </div>
  <Social />
</footer>
